@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

section > *,
header > *,
footer > * {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}

/* Responsive padding */
@media (min-width: 640px) {
  section > *,
  header > *,
  footer > * {
    padding-inline: 24px;
  }
}

@media (min-width: 1024px) {
  section > *,
  header > *,
  footer > * {
    padding-inline: 32px;
  }
}
